.formsesion{
	margin-top: 10%;
	align-content: center;
	/* text-align alinea horizontalmente.*/
	text-align: center;
}
.formsesion .title{
	font-size: 5em;
}

.verDatos{
	text-align: center;
}
.alinear{
	
	/* text-align alinea horizontalmente.*/
	text-align: center;
}